<h1>Productos en tiempo real</h1>
<ul id="product-list" class="product-list">
    {{#each products}}
    <li id="product-{{this.id}}" class="product-item">
        <h2>{{this.title}}</h2>
        <p>{{this.description}}</p>
        <p>${{this.price}}</p>
        <img src="{{this.img}}" alt="{{this.title}}" width="100">
        <button onclick="deleteProduct('{{this.id}}')">Eliminar</button>
    </li>
    {{/each}}
</ul>
<form id="product-form" class="product-form">
    <input type="text" name="title" placeholder="Nombre del producto" required>
    <input type="text" name="description" placeholder="Descripción" required>
    <input type="number" name="price" placeholder="Precio" required>
    <input type="text" name="img" placeholder="URL de la imagen" required>
    <input type="text" name="code" placeholder="Código" required>
    <input type="number" name="stock" placeholder="Stock" required>
    <input type="text" name="category" placeholder="Categoría" required>
    <input type="text" name="status" placeholder="Estado" required>
    <input type="text" name="thumbnails" placeholder="Miniaturas" required>
    <button type="submit">Agregar Producto</button>
</form>
<script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
<script src="/main.js"></script>
