<h1>Productos en tiempo real</h1>
<ul id="product-list" class="product-list">
    {{#each products}}
    <li id="product-{{this.id}}" class="product-item">
        <h2>{{this.name}}</h2>
        <p>{{this.description}}</p>
        <p>${{this.price}}</p>
        <button onclick="deleteProduct({{this.id}})">Eliminar</button>
    </li>
    {{/each}}
</ul>
<form id="product-form" class="product-form">
    <input type="text" name="name" placeholder="Nombre del producto" required>
    <input type="number" name="price" placeholder="Precio" required>
    <textarea name="description" placeholder="Descripción" required></textarea>
    <button type="submit">Agregar Producto</button>
</form>
<script src="/socket.io/socket.io.js"></script>
<script src="/main.js"></script>
